/*  your css code here. If applicable */
.box {
	width: 100px;
	height: 100px;
	background-color: red;
	animation: pulse 1s infinite;
}

@keyframes pulse {
  0%   {
	  transform: scale(0.9);
	  transition: all ease-in;
  }
  50%  {
	  transform: scale(1);
	  transition: all ease-out;
  }
  100% {
	  transform: scale(0.9);
	  transition: all ease-in;
  }
}


